* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}
.main-visual {
	height: 400px;
	width: 100%;
	background-image: url(img_ch7/mv.jpg);
	background-size: cover;
	background-position: bottom;
}
.headline {
	padding: 20px 20px;
	color: ;
}
main {
	width: 840px;
	margin: 50px auto;
}
.box-item {
border-bottom: 1px solid #6c6b6b;
margin-bottom: 30px;
padding-bottom: 30px
}
.subtext {
	border-bottom: 1px solid #6c6b6b
}